<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ esewa_url }}" method="POST">
        <input type="hidden" name="amt" value="{{ amount }}">
        <input type="hidden" name="txAmt" value="0">
        <input type="hidden" name="psc" value="0">
        <input type="hidden" name="pdc" value="0">
        <input type="hidden" name="tAmt" value="{{ amount }}">
        <input type="hidden" name="pid" value="{{ order_id }}">
        <input type="hidden" name="scd" value="EPAYTEST">
        <input type="hidden" name="su" value="{{ success_url }}">
        <input type="hidden" name="fu" value="{{ failure_url }}">
        <button type="submit">Pay with Esewa</button>
    </form>
 
    
</body>
</html>